<main id="main" class="container center">

  <section>

      <article>
          <h1>Contact Me</h1>
          <p>
              This is my contact page. Please only contact me if you have bread to offer. Thank you.
          </p>
      </article>

      <pb-breadcrumbs>
        <div>
          <img src="/assets/bread.png" alt="Cartoon drawing of a cute loaf of bread" class="bread">
          <img src="/assets/bread.png" alt="Cartoon drawing of a cute loaf of bread" class="bread">
          <img src="/assets/bread.png" alt="Cartoon drawing of a cute loaf of bread" class="bread">
        </div>
    </pb-breadcrumbs>

  </section>

</main>
